body {
  padding: 30px;
  background: #FAFAFA;
}
footer {
  bottom: 20px;
  position: absolute;
  right: 100px;
  font-size: 10px;
}
h1 {
  text-align: center;
}
label {
  display: inline-block;
  width: 200px;
}
table {
  border: 2px solid #444;
  margin: 20px;
}
td, th {
  border-right: 1px solid #777;
  padding: 2px 5px;
}

.first {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 20px;
}
.impar {
  background: #eee;
}
.last {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 3px;
}
.menu-opciones li {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #999999;
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
}
.pendiente {
    color: #FF7777;
}
#nuevo_usuario {
  /*text-align: center;*/
}
